.page_heading{
	background-image: url('../images/presse10.jpg');
}

.mainfooter{
	
	background-color: #333A40;
	color: white;
}

.basefooter{
	background-color: #494949;
	color: white;
}

.main{
	background-color: #333A40;
	color: white;
}

.base{
	background-color: #494949;
	color: white;
}
